.grid-container {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 10px;
	height: 100vh;
}


.block1 {
	grid-row: 1 / span 6;
	/* b1 跨越第1-6行 */
	grid-column: 1 / span 2;
	/* b1 跨越第1-2列 */
	position: relative;
	padding: 20px;
}

.block3 {
	background-color: #f0f0f0;
	grid-row: 1 / span 1;
	grid-column: 3 / span 8;
	position: relative;
}

.block4 {
	grid-row: 2 / span 5;
	/* b4 占据第2-6行 */
	grid-column: 3 / span 7;
	/* b4 占据第3-9列 */
	position: relative;
}

.block5 {
	background-color: #f0f0f0;
	grid-row: 2 / span 5;
	/* b5 占据第1-6行 */
	grid-column: 10;
	z-index: 0;
}
