.grid-container {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 10px;
	height: 98vh;
	/*background: #eeeeee;*/
	/*border: 6px solid #eeeeee;*/
}


.block1 {
	grid-row: 1 / span 10;
	grid-column: 1 / span 2;
	/* b1 跨越第1-2列 */
	position: relative;
	padding: 20px;
	/*background: white;*/
	border-radius: 5px;
	border: 2px solid #DCDCDC;
}

.block3 {
	grid-row: 1 / span 3;
	grid-column: 3 / span 8;
	position: relative;
	/*border: 2px solid #D3D3D3;*/
	border-radius: 5px;
	background: white;
	border: 2px solid #DCDCDC;
}

.block4 {
	grid-row: 4 / span 7;
	/* b4 占据第2-6行 */
	grid-column: 3 / span 8;
	/* b4 占据第3-9列 */
	position: relative;
	/*border: 2px solid #DCDCDC;*/
	/*border-radius: 5px;*/
}